<header class="navbar navbar-fixed-top">
  <div class="container">
    <%= link_to "Ticket Project", root_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <% if user_signed_in? %>
          <li><%= link_to "Tickets", tickets_path %></li>
          <% if current_user.is_admin? %>
            <li><%= link_to "Users", users_path %></li>
            <li><%= link_to "Admin", rails_admin_path %></li>
          <% end %>
          <li><%= link_to "Logout", destroy_user_session_path, :method => :delete %></li>
        <% end %>
      </ul>
    </nav>
  </div>
</header>

<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>